
body {
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    text-align: left;
    font-style: normal;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    font-style: normal;
}

h3 {
    font-size: 30px;
    color: rgb(35%, 35%, 35%);
    font-style: normal;
}

h4 {
    font-size: 20px;
    color: rgb(35%, 35%, 35%);
    font-style: normal;
}

h5 {
    font-size: 16px;
    color: rgb(35%, 35%, 35%);
    font-style: normal;
}

h6 {
    font-size: 16px;
    color: rgb(35%, 35%, 35%);
    font-style: normal;
}

table p {
    margin-top: 0;
    margin-bottom: 6px;
}

table[summary="R argblock"] tr td:first-child {
    min-width: 24px;
    padding-right: 12px;
}

pre {
    background-color: #f8f8f8;
    color: #333;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    border: 1px solid #eee;
    border-radius: 4px;
}

body {
    max-width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a:link code {
    color: #375f87;
}

a:link {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

ul p {
    margin-top: 0;
    margin-bottom: 6px;
}
